*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.3s linear;
    outline: none;
}
*::selection{
    background-color: yellowgreen;
    color: #fff;
}
:root{
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
}

/* Header */
header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),
    url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    clip-path: polygon(100% 0, 100% 86%, 48% 100%, 0 86%, 0 0);
}
nav{
    padding: 2% 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
nav .logo{
    font-size: 3rem;
    cursor: pointer;
}
nav .logo span{
    color: yellowgreen;
}
nav .links{
    padding-left: 0;
}
nav .links li{
    display: inline-block;
    margin-left: 1rem;
    font-size: 1.5rem;
}
nav .links li a{
    color: #fff;
}
.links .active{
    color: yellowgreen;
}
nav .links li a:hover{
    color: yellowgreen;
}
header .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
header .content h1{
    font-size: 50px;
    text-transform: none;
    color: white;
}
header .content h2{
    margin-top: 30px ;
    font-family: "Times New Roman";
    color: white;
}
.btn{
    padding: 0.5rem 1.5rem;
    background-color: transparent;
    border: 0.3rem solid yellowgreen;
    color: yellowgreen;
    margin-top: 1.8rem;
    cursor:pointer;
    border-radius: 0.5rem;
    font-size: 2rem;
}
.btn:hover{
    background-color: yellowgreen;
    color: #fff;
}
nav .open,.close{
    font-size: 1.8rem;
    cursor: pointer;
    color: yellowgreen;
    display: none;
}
nav .open img{
    width: 30px;
    height: 30px;
}
nav .links .close img{
    width: 30px;
    height: 30px;
}
/* MAIN */
main .about{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #efefef;
    flex-wrap: wrap;
}

main .about div h1{
    font-size: 3rem;
    padding: 2% 6%;
    color: yellowgreen;
    border-bottom: .3rem solid yellowgreen;
}
.card{
    position: relative;
    width: 200px;
    height: 300px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    transition: .5s;
    margin: 15px 20px;

}
.card:hover{
    box-shadow: 0 5px 15px rgba(3, 89, 92, .5);
    transform: translateY(-15px);
}
.card .head{
    height: 90px;
    width: 100%;
    position: relative;
}
.card .head .circle{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: yellowgreen;
    bottom: 0;
}
.card .head .image{
    width: 100px;
    height: 100px;
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 50%;
    bottom: -30%;
    left: 50%;
    transform: translate(-50%);
}
.card .head .image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.card .description{
    height: 100px;
    padding: 40px 20px 20px 20px;
    text-align: center;
}
.card .description h3{
    color: yellowgreen;
}
.card .description h5{
    color: black;
}
.card .description p{
    margin-top: 20px;
    font-size: 15px;
}
/* Servicio */
.servicio{
    min-height: 100vh;
    text-align: center;
    padding: 2% 6%;
}
.servicio h1{
    font-size: 3.8rem;
    padding: 0.5rem;
    display: inline-block;
    color: yellowgreen;
    border-bottom: .3rem solid yellowgreen;
    margin-bottom: 1.8rem;
}
.servicio .container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
.servicio .container .box{
    width: 31rem;
    height: 31rem;
    margin: .5rem;
    position:relative;
    overflow: hidden;
}
.servicio .container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.servicio .container .box .info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transform-origin: bottom;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.servicio .container .box:hover .info{
    transform: translate(-50%, -50%) scale(1);
}
.servicio .container .box .info h3{
    font-size: 3rem;
    color:yellowgreen;
    margin-bottom: 1.2rem;
}
.servicio .container .box .info p{
    line-height: 2;
    color: #fff;
    font-size: 1.1rem;
    padding: 0 1rem;
    margin-bottom: 1.2rem;

}
/* Trainers */
.trainers{
    min-height: 100vh;
    text-align: center;
    padding: 2% 6%;
    background: #efefef;
}
.trainers h1{
    font-size: 3.8rem;
    padding: 0.5rem;
    display: inline-block;
    color: yellowgreen;
    border-bottom: .3rem solid yellowgreen;
    margin-bottom: 1.8rem;
}
.trainers p{
    font-size: 1.5rem;
    color: #333;
}
.trainers .items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.trainers .items .tem{
     height: 20rem;
     width: 20rem;
     margin: 5rem 1rem;
 }
.trainers .tem img{
    width: 100%;
    height: 100%;
    border-radius: .6rem;
    object-fit: cover;
}
.trainers .tem .inner{
    position: relative;
}
.trainers .tem:hover{
    transform: translateY(-20px);
}
.trainers .tem .inner .info{
    background-color: yellowgreen;
    padding: 1rem 1rem;
    border-radius: 0.6rem;
    margin-top: -2.5rem;
}
.trainers .tem:hover .info{
    background-color: yellowgreen;
    padding: 1rem 1rem;
    border-radius: 0.6rem;
    margin-top: -2.5rem;
}
.trainers .tem .inner .info h4{
    transform: translateY(-5px);
}
.trainers .tem .inner .info .links{
    margin-top: 1rem;
}
.trainers .tem .inner .info .links a{
    display: inline-block;
    height: 2rem;
    width: 2rem;
    background-color: #fff;
    border-radius: 50%;
    color: yellowgreen;
    text-align: center;
    line-height: 2rem;
    margin-left: 0.3rem;
    font-size: 1.1rem;
}
.trainers .tem .inner .info .links a:hover{
    box-shadow: 0 0 .6rem #000;

}
/* Plan */
.pricing_table{
    min-height: 100vh;
    padding: 2% 6%;
    text-align: center;
}
.pricing_table h1{
    font-size: 3.8rem;
    padding: 0.5rem;
    display: inline-block;
    color: yellowgreen;
    border-bottom: .3rem solid yellowgreen;
    margin-bottom: 2.2rem;
}
.pricing_table .pricing_card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
.pricing_card .pricing_box{
    width: 30rem;
    box-shadow: 2px 2px 6px #000;
    margin-bottom: 4rem;
}
.pricing_card .pricing_box:hover{
    transform: translateY(-30px);
}
.pricing_box h2{
    font-size: 2rem;
    margin-bottom: 3rem;
    background-color: yellowgreen;
    padding: 1.2rem;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.pricing_box h3{
    margin-top: 2rem;
    font-size: 4rem;
    color: yellowgreen;
}
.pricing_box h3 sup{
    font-size: 2rem;
}
.pricing_box h3 span{
    font-size: 2.5rem;
}
.pricing_box p{
    font-size: 2.5rem;
     color: #333;
}
.pricing_box ul{
    padding: 2rem;
}
.pricing_box ul li{
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}
.pricing_box .btn{
    margin-bottom: 2rem;
}
@media (max-width: 750px){
    nav .links{
        height: 25rem;
        width: 60%;
        position: fixed;
        top: 0;
        right: 0;
        border-radius: 1.2rem;
        background-color: #fff;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 9999;
    }
    nav .links li{
        font-size: 1.8rem;
        margin: 0.5rem;
    }
    nav .links li a{
        color: #000;
    }
    nav .open,nav .links .close{
        display: block;
        position: absolute;
        top: 1.8rem;
        right: 1.8rem;

    }
    header .content h1{
        font-size: 3rem;
    }
    main .about div h1{
        font-size: 2.1rem;
    }
    .servicio h1{
        font-size: 2.1rem;
    }
    .trainers h1{
        font-size: 2.1rem;
    }
    .pricing_table h1{
        font-size: 2.1rem;
    }
}

